{% extends 'base.html' %}

{% block content %}
    <div class="profile">
        {% if not blog.all %}
            <div class="empty">
                <div class="emptyText">
                    <h1>There are not any blog created by this user</h1>
                </div>
                
                <div class="emptyImg">
                    {% load static %}
                    <img src="{% static '/images/empty.jpg' %}" alt="Empty">
                </div>
            </div>
        {% else %}
            {% for post in blog.all %}
                <div class="post">
                    <div class="header">
                        <span>{{ post.header }}</span>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="edit">
                                <button type="submit" name="editId" value="{{post.id}}">
                                    <span class="material-icons-sharp" id="edit">mode_edit</span>
                                </button>
                            </div>
                            <div class="delete">
                                <button type="submit" name="deleteId" value="{{post.id}}"> 
                                    <span class="material-icons-sharp" id="delete">delete</span>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="body">
                        <span>{{post.body | truncatechars:100}}</span>
                    </div>
                    <div class="footer">
                        <span> Created At: {{ post.created_at}} </span> <br>
                        <span> Author: {{ post.user.username}} </span>
                    </div>
                </div>    
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}