<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <title>SeiFinance</title>
</head>
<body>
    <nav class="navbar">

        <div class="logo">
            <div class="background"></div>
            {% load static %}
            <img src="{% static '/images/logo.png' %}" alt="My image">
        </div>
      </nav> 
        <div class="home">
            <div class="left">
                <div class="sidebar">
                    {% if request.user.username %}
                        <a href="/profile">
                            <span class="material-icons-sharp">account_circle</span>
                            <h3>Profile</h3>
                        </a>
                    {% else %}
                        <a href="/login">
                            <span class="material-icons-sharp">login</span>
                            <h3>Login</h3>
                        </a>
                    {% endif %}
                    <a href="/">
                        <span class="material-icons-sharp">grid_view</span>
                        <h3>Dashboard</h3>
                    </a>
                    {% if request.user.username %}
                        <a href="/addBlog">
                            <span class="material-icons-sharp">description</span>
                            <h3>Add Blog</h3>
                        </a>
                    {% endif %}
                    <!-- <a href="#">
                        <span class="material-icons-sharp">analytics</span>
                        <h3>Analytics</h3>
                    </a> -->
                    {% if request.user.username %}
                        <a href="/logout">
                            <span class="material-icons-sharp">logout</span>
                            <h3>Logout</h3>
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="right">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>

</body>
</html>